version: '3'
services:
  postgresql:
    image: 'postgres:13-alpine'
    container_name: 'db_think_dry_rb'
    environment:
      POSTGRES_PASSWORD: 'not_secure'
    ports:
        - '5432:5432'
    networks:
      - think-dry-rb
    volumes:
      - '~/docker-data/think-dry-rb:/var/lib/postgresql/data'

networks:
  think-dry-rb:
    driver: bridge

volumes:
  postgres: